body {
    background-color: #AEB8BF;
}

h1 {
    /* Spacing and size */
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 60%;
    height: 75px;

    /* Box options */
    background-color: #CB8568;
    border-radius: 10px;
    box-shadow: 0px 0px 25px black;

    /* Text options */
    color: white;
    font-size: 60px;
    text-align: center;
}

select:hover {
    cursor: pointer;
}

#button {
    /* Spacing and size */
    margin-top: 20px;

    /* Box options */
    background-color: #CB8568;
    border-radius: 10px;
    box-shadow: 0px 0px 5px black;

    /* Text options */
    font-size: 15px;
    color: white;
}

#button:hover {
    cursor: pointer;
}

.form-input {
    /* Box options */
    width: 8%;
    border-radius: 10px;
}

.para {
    /* Spacing and size */
    padding-right: 2%;
    padding-left: 2%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 20%;
    margin-right: 20%;
    width: 50%-10px;
    height: 500px;

    /* Box options */
    box-shadow: 0px 0px 25px black;
    border-color: #CB8568;
    background-color: white;
    border-style: solid;
    border-radius: 10px;
    border-width: 5px;

    /* Text options */
    font-size: 20px;
    font-weight: 200;
    color: #3A4E62;
}

.inp {
    /* Spacing and size */
    padding-left: 10px;
    padding-right: 10px;

    /* Text options */
    font-size: 17px;

    /* Box options */
    border-radius: 10px;
}

.form {
    /* Spacing and size */
    padding-left: 10px;
    width: 40%;

    /* Box options */
    border-left: 6px solid #CB8568;
    border-radius: 10px;
    background-color: white;
}